<div class="column is-three-fifths is-offset-one-fifth">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <input class="input" type="text" placeholder="Create a New Post">
            </div>
        </div>
    </div>
</div>