<div class="column is-three-fifths is-offset-one-fifth">
    <div class="card">
    
        <header class="card-header">
            <p class="card-header-title">
                @Post.Title
            </p>
        </header>

        <div class="card-content">
            <div class="content">
                @Post.Content
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Post Post { get; set; } = default!;
}